<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Watchlist Demo{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="{% url 'home' %}"><strong>Watchlist Project</strong></a> |
        {% if user.is_authenticated %}
        <span>Welcome, {{ user.username }}</span> |
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>